<div class="container my-4" *ngIf="!loading">
  <h3>Tableau de bord des Tests Automatisés</h3>

  <!-- Filtres -->
  <div class="row g-3 mt-3">
    <div class="col-12 col-md-3">
      <label class="form-label">Filtrer par outil :</label>
      <select class="form-select" [(ngModel)]="tool" (change)="applyFilters()">
        <option *ngFor="let t of tools" [value]="t">{{ t }}</option>
      </select>
    </div>

    <div class="col-12 col-md-3">
      <label class="form-label">Filtrer par statut :</label>
      <select class="form-select" [(ngModel)]="status" (change)="applyFilters()">
        <option *ngFor="let s of statuses" [value]="s">{{ s }}</option>
      </select>
    </div>

    <div class="col-12 col-md-3">
      <label class="form-label">Filtrer par date :</label>
      <input class="form-control" type="date" [(ngModel)]="date" (change)="applyFilters()">
    </div>

    <div class="col-12 col-md-3">
      <label class="form-label">Filtrer par utilisateur :</label>
      <input class="form-control" type="text" [(ngModel)]="userQuery" (input)="applyFilters()" placeholder="(demo) filtre sur nom du test">
    </div>
  </div>

  <!-- KPIs -->
  <div class="row text-center mt-4">
    <div class="col-12 col-md-4 fw-bold">Total des tests : {{ total }}</div>
    <div class="col-12 col-md-4 fw-bold">Pourcentage de tests réussis : {{ successPct }}%</div>
    <div class="col-12 col-md-4 fw-bold">Temps moyen d'exécution : {{ avgMs }} ms</div>
  </div>

<!--  chart  !!!! -->
  <div style="max-width:300px;margin:12px auto;">
    <canvas
      baseChart
      [data]="pieChartData"
      [type]="pieChartType"
      [options]="pieChartOptions">
    </canvas>
  </div>





  <!-- Table -->
  <div class="table-responsive mt-4">
    <table class="table table-sm align-middle">
      <thead>
      <tr>
        <th>Nom du Test</th>
        <th>Outil</th>
        <th>Statut</th>
        <th>Temps d'Exécution</th>
        <th>Date</th>
        <th>Exécuté par</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let t of visible">
        <td>{{ t.scenario }}</td>
        <td>{{ t.tool }}</td>
        <td><span [class]="badgeClass(t.status)">{{ t.status }}</span></td>
        <td>{{ t.durationMs }}</td>
        <td>{{ t.executedAt ? (t.executedAt | date:'yyyy-MM-dd HH:mm') : '-' }}</td> <!-- ✅ -->
        <td>{{ t.executedBy || '-' }}</td>
      </tr>
      <tr *ngIf="visible.length === 0">
        <td colspan="6" class="text-center text-muted">Aucun résultat</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container my-5" *ngIf="loading">Chargement…</div>
<div class="container my-5 text-danger" *ngIf="error">{{ error }}</div>
