<mat-form-field appearance="outline">
  <mat-label>Type d'élément</mat-label>
  <mat-select [(ngModel)]="selectedType" (selectionChange)="onTypeChange()">
    <mat-option *ngFor="let model of availableModels" [value]="model.type">
      {{ model.label }}
    </mat-option>
  </mat-select>
</mat-form-field>
<div *ngIf="template" class="json-editor-container">
  <app-json-editor [(data)]="template"></app-json-editor>
</div>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-raised-button color="primary" (click)="saveElement()">Enregistrer</button>
</mat-dialog-actions>