<h2 mat-dialog-title>Supprimer un élément</h2>

<mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Type d'élément</mat-label>
        <mat-select [(ngModel)]="selectedType">
          <mat-option *ngFor="let model of availableModels" [value]="model.type">
            {{ model.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>ID de l'élément</mat-label>
        <input matInput [(ngModel)]="selectedId">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="close()">Annuler</button>
    <button mat-button color="warn" (click)="confirmDelete()">Supprimer</button>
</mat-dialog-actions>
